@use '../../../mixins.scss' as *;
@use "../../../shared/_variables" as v;

.skill {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2vh 2.5vw;
    border: 1px solid var(--border-color);
    border-radius: 25px;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    transition: all 0.3s ease;

    &:hover {
        transform: translateY(-2px);
        box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
    }

    &-img {
        height: 10vh;
        width: auto;
        margin: 1vh 0;
    }

    &-link {
        text-decoration: none;
        color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;

        &-h2 {
            margin: 2vh 0;
            font-size: 2.5rem;
        }
    }

    &-h2 {
        margin-bottom: 1vh;
    }

    &-text {
        // text-align: justify;
        margin: 0 1vw 0.75rem;
        white-space: pre-line;

        @media screen and (max-width: v.$media-small-screen) {
            margin: 0 1,5vw 0.75rem;
        }

        @media screen and (max-width: v.$media-very-small-screen) {
            margin: 0 2vw 0.75rem;
        }
    }

    &-hr-style {
        @include hr-style;
        margin: 0 0 1vh;
    }
}