.profile {
    display: inline-flex;
    --profile-icon-height: 6vh;
    align-items: center;
    margin: 1vh 0 1vh 5vh;
    border-radius: calc(var(--profile-icon-height) / 2);
    background-color: white;
    transition: all 0.3s ease;
}

.profileIcon {
    height: var(--profile-icon-height);
    border-radius: 50%;
}

.profileName {
    font-size: medium;
    margin: 0 2vh;
}

.github-link {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: black;
}

@media (max-width: 800px) {
    .profile {
        background-color: transparent;
        margin-left: 1vh;
    }

    .profileName {
        display: none;
    }
}