.home-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4vw;
    flex-wrap: wrap;
}

.home-content-text-greeting {
    height: 8vh;
}

.home-content-text-img {
    display: flex;
    justify-content: center;
    margin: 1vh 0;
}

.home-content-description {
    border: solid rgba(0, 0, 0, 0.25) 2px;
    border-radius: 25px;
    height: auto;
    max-width: 50vw;
    width: auto;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
    flex-direction: column;
    overflow: hidden; 
}

.home-content-text {
    text-align: center;
    overflow: auto;
}

.home-content-photo {
    border: solid rgba(0, 0, 0, 0.25) 2px;
    border-radius: 25px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
    width: auto;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
}

.home-content-photo-img {
    height: 100%;
    width: auto;
    object-fit: cover;
    transition: opacity 1s ease-in-out;
}

.fade-in {
    opacity: 1;
}

.fade-out {
    opacity: 0;
}

@media (max-width: 800px) {
    .home-content {
        flex-direction: column;
        gap: 4vh;
    }

    .home-content-photo {
        max-height: 40vh;
    }

    .home-content-description {
        width: 90vw;
        max-width: none;
    }
}
