.header {
    height: 8vh;
    background-color: #74F394;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.profile-block {
    flex: 0 0 auto;
}

.timer-block {
    margin-right: 20px;
}

.right-block {
    display: flex;
    align-items: center;
}