<article class="skill">
    <a [href]="url" target="_blank" rel="noopener noreferrer" class="skill-link">
        @if (imgSrc) {
            @if (darkModeImgSrc && colorThemeService.isDarkMode()) {
                <img [src]="darkModeImgSrc" alt="Skill logo" class="skill-img"/>
            } @else if (darkModeBackground) {
                <img [src]="imgSrc" alt="Skill logo" class="skill-img skill-img-dark-mode"/>
            } @else {
                <img [src]="imgSrc" alt="Skill logo" class="skill-img"/>
            }
        } @else {
            <h2 class="skill-link-h2 roboto-medium">{{ name }}</h2>
        }
    </a>
    <hr class="skill-hr-style">
    @if (imgSrc) {
        <h2 class="skill-h2 roboto-medium">{{ name }}</h2>
    }
    <p class="skill-text roboto-regular">
        <ng-content></ng-content>
    </p>
</article>