.navigation-container {
    display: flex;
    align-items: center;
    position: relative;
}

.menu-button {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
}

.menu-button-icon {
    height: 6vh;
}

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    transition: transform 0.3s ease;
}

.navigation.open {
    display: flex;
}

@media (max-width: 800px) {
    .navigation {
        display: none;
        position: absolute;
        top: 100%;
        right: 0;
        background-color: #74F394;
        width: 200px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        flex-direction: column;
        height: auto;
        width: auto;
        align-items: center;
        justify-content: center;
        align-items: stretch;
    }

    .navigation.open {
        display: flex;
    }

    .menu-button {
        display: block;
    }
}