.navigation-container {
    display: flex;
    align-items: center;
    position: relative;
}

.menu-button {
    display: block;
    background: none;
    border: none;
    cursor: pointer;
    margin-right: 10px;
}


.menu-button-icon {
    height: 6vh;
}

.navigation {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #74F394;
    width: 200px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    flex-direction: column;
    height: auto;
    width: auto;
    align-items: center;
    justify-content: center;
    align-items: stretch;
    transition: transform 0.3s ease;
    z-index: 10;
}


.navigation.open {
    display: flex;
}