.skill {
    --height-skill: 10vh;
    display: flex;
    align-items: stretch;
    border: solid rgba(128, 128, 128, 0.5) 2px;
    border-radius: 20px;
    margin: 2.5vh 3vw;
    min-height: var(--height-skill);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.skill-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto 1vw;
    height: 100%;
    width: var(--height-skill);
}

.skill-icon-link {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skill-h2-link-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skill-h2-link {
    text-decoration: none;
    color: black;
    height: 100%;
    width: 100%;
}

.skill-icon-img {
    max-height: 80%;
    max-width: 100%;
}

.skill-part-line {
    width: 0;
    border: solid rgba(128, 128, 128, 0.5) 1px;
    min-height: var(--height-skill);
    height: auto;
    margin: 0 1vw 0 0;
}

.skill-content {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.skill-content-text {
    overflow: auto;
    /* max-height: 100%; */
    text-overflow: ellipsis;
    width: 100%;
    margin: 2vh 1vw;
}

@media (max-width: 800px) {
    .skill {
        --height-skill: 25vh;
    }
}

@media (max-width: 400px) {
    .skill {
        flex-direction: column;
        min-height: calc(var(--height-skill) * 2.5);
        align-items: center;
    }

    .skill-icon {
        min-height: var(--height-skill);
        margin: 2vh auto;
    }

    .skill-icon-link {
        padding: 0 auto;
    }

    .skill-part-line {
        height: 0;
        min-height: 0;
        width: 100%;
        margin: 0 0 1vh 0;
    }

    .skill-content {
        /* min-height: calc(var(--height-skill) * 1.5); */
        overflow: hidden;
    }

    .skill-content-text {
        margin: 2vh 3vw;
    }
}
